/* All styles for your Card Components live here */
.card-container {
  display: flex;
  width: 650px;
  flex-direction: column;
}
.card-banner {
  width: 560px;
  margin-left: 80px;
  margin-right: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-content {
  margin-left: 80px;
  padding: 0 10px;
}
.card-content h1 {
  font-size: 1.7rem;
  font-weight: bold;
}
.card-content h3 {
  font-size: 1.6rem;
  font-weight: normal;
}
.card-content a {
  font-size: 1.6rem;
  color: gray;
  cursor: pointer;
  text-decoration: none;
}
